@page "/counter/{SetHashCode:int}"
@inject StateContainer _stateContainer;


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@foreach (Fighter fighter in fighters)
{
    <h3>
        @fighter.Name
        @fighter.Id
    </h3>
    @foreach (Profile profile in fighter.Profiles)
    {
        <h4>
            @profile.Id
        </h4>
    }
}

@code {
    [Parameter] public int SetHashCode { get; set; }
    List<Fighter> fighters = new();

    protected override void OnInitialized()
    {
        fighters = (List<Fighter>)_stateContainer.ObjectTunnel[SetHashCode];
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
