@page "/stats"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<PageTitle>Counter</PageTitle>

<h1>Statistics</h1>

<div>
    <div>
        <div>
            <label for="minimumToughness">Minimum Toughness</label>
            <input type="number" @bind="minimumToughness" id="minimumToughness" @bind:after="DoMath" />
            <label for="maximumToughness">Maximum Toughness</label>
            <input type="number" @bind="maximumToughness" id="maximumToughness" @bind:after="DoMath" />
        </div>
        <div>
            <label for="fastCalc">Enable/Disable fast calculation</label>
            <input type="checkbox" @bind="fastCalculation" id="fastCalc" @bind:after="DoMath" />
        </div>
    </div>
    <div>
        <div class="flex-container">
            <div class="graph-container">
                <BarChart @ref="averageDamagePerToughness" Width="100" Height="100" WidthUnit="Unit.Percentage" HeightUnit="Unit.Percentage" />
            </div>
            <div class="graph-container">
                @if (firstRendering)
                {
                    <h1>Khorne renders</h1>
                }
                else
                {
                    <table class="damage-table">
                        <thead>
                            <tr>
                                <th></th>
                                @for (int i = minimumToughness; i <= maximumToughness; i++)
                                {
                                    <th>@("T" + i)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<string, List<double?>> valuePair in averageDamagePerToughnessNumbers)
                            {
                                <tr>
                                    <td>
                                        @valuePair.Key
                                    </td>
                                    @foreach (double? damage in valuePair.Value)
                                    {
                                        <td>
                                            @damage
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .graph-container{
        width: 40%;
        min-height: 300px;
        align-content: center;
    }

    .flex-container {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: space-between;
        background-color: #333;
        margin-top: 20px;
        border-radius: 5px;
        padding: 25px;
    }

    .damage-table{
        width: 100%
    }
</style>

@code {
    BarChart averageDamagePerToughness = default!;
    Dictionary<string, List<double?>> averageDamagePerToughnessNumbers = new();

    bool fastCalculation = false;
    bool successfulLoad = false;
    List<Fighter> fighters = new();
    List<string> messages = new();
    bool firstRendering = true;
    double simulations = 100000;
    int minimumToughness = 3;
    int maximumToughness = 5;
    Dictionary<Fighter, Dictionary<double, Dictionary<double, double>>> dict = new();
    Random random = new();
    //Datastructure
    //dict key: Fighter
    //dict value: ToughnessDamagePairs (DTP)
    //DTP key: Toughness
    //DTP value: Damages
    //Damages key: DamageSize
    //Damages value: DamageCount

    protected override void OnInitialized()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            successfulLoad = await LoadFighters();
            if (successfulLoad)
            {
                double smallestStrength = 0;
                double biggestStrength = 0;
                foreach (Fighter fighter in fighters)
                {
                    foreach (Profile profile in fighter.Profiles)
                    {
                        if (profile.Active)
                        {
                            if (smallestStrength == 0)
                            {
                                smallestStrength = profile.Strength;
                                biggestStrength = profile.Strength;
                            }
                            if (smallestStrength > profile.Strength)
                            {
                                smallestStrength = profile.Strength;
                            }
                            if (biggestStrength < profile.Strength)
                            {
                                biggestStrength = profile.Strength;
                            }
                            if (profile.Attacks > 6)
                            {
                                fastCalculation = true;
                            }
                        }

                    }
                }
                minimumToughness = Convert.ToInt32(smallestStrength) - 1;
                maximumToughness = Convert.ToInt32(biggestStrength)+ 1;
                await DoMath();
            }
            StateHasChanged();
            firstRendering = false;
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task DoMath()
    {
        StateHasChanged();
        CalculateDamage();
        await GenerateBarChart();
    }

    private async Task<bool> LoadFighters()
    {

        List<Fighter>? storage = null;
        try
        {
            storage = await localStorage.GetItemAsync<List<Fighter>>("fighters");
        }
        catch (Exception e)
        {
            messages.Add(e.Message.ToString());
        }
        if (storage != null)
        {
            fighters = storage;
            return true;
        }
        else
        {
            fighters.Add(new Fighter());
            return false;
        }
    }

    public void CalculateDamage()
    {
        dict = new();
        Random random = new();
        foreach (Fighter fighter in fighters)
        {
            foreach (Profile profile in fighter.Profiles)
            {
                if (profile.Active)
                {
                    Dictionary<double, Dictionary<double, double>> toughnessDamagePairs = new();
                    for (int toughness = minimumToughness; toughness <= maximumToughness; toughness++)
                    {
                        Dictionary<double, double> damages;

                        if (fastCalculation)
                        {
                            damages = SimulateAttacks(profile, toughness);
                        }
                        else
                        {
                            damages = CalculateAttacks(profile, toughness);
                        }
                        // for (int i = 0; i < (profile.Damage.Crit * profile.Attacks) + 1; i++)
                        // {
                        //     if (damages[i] == 0)
                        //     {
                        //         damages.Remove(i);
                        //     }
                        // }
                        toughnessDamagePairs.Add(toughness, damages);
                    }
                    try
                    {
                        dict.Add(fighter, toughnessDamagePairs);
                    }
                    catch (Exception e)
                    {
                        messages.Add(e.Message);
                        throw;
                    }
                    
                }
            }
        }
    }

    public int CalculateToHit(double strength, double toughness)
    {
        if (strength > toughness)
        {
            return 3;     
        }
        else if (strength < toughness)
        {
            return 5;
        }
        else return 4;
    }

    public Dictionary<double, double> SimulateAttacks(Profile profile, int toughness)
    {
        Dictionary<double, double> damages = new();
        for (int i = 0; i < (profile.Damage.Crit * profile.Attacks) + 1; i++)
        {
            damages.Add(i, 0);
        }
        int toHit = CalculateToHit(profile.Strength, toughness);
        for (int j = 0; j < simulations; j++)
        {
            double damage = 0;
            for (int i = 0; i < profile.Attacks; i++)
            {
                int roll = random.Next(1, 7);
                if (roll == 6)
                {
                    damage += profile.Damage.Crit;
                }
                else if (roll >= toHit)
                {
                    damage += profile.Damage.Hit;
                }
            }
            damages[damage] += 1;
        }
        return damages;
    }

    public Dictionary<double, double> CalculateAttacks(Profile profile, int toughness)
    {
        Dictionary<double, double> damages = new();
        for (int i = 0; i < (profile.Damage.Crit * profile.Attacks) + 1; i++)
        {
            damages.Add(i, 0);
        }
        int toHit = CalculateToHit(profile.Strength, toughness);
        List<Dice> dices = new();

        for (int i = 0; i < profile.Attacks; i++)
        {
            dices.Add(new Dice(6));
        }
        for (int i = 0; i < Math.Pow(6, profile.Attacks); i++)
        {
            double damage = 0;
            foreach (Dice dice in dices)
            {
                if (dice.Index == 6)
                {
                    dice.Index = 0;
                    dices[dices.IndexOf(dice) + 1].Index++;
                }
                int roll = dice.Faces[dice.Index];
                if (roll == 6)
                {
                    damage += profile.Damage.Crit;
                }
                else if (roll >= toHit)
                {
                    damage += profile.Damage.Hit;
                }
                if (dices.IndexOf(dice) == 0)
                {
                    dice.Index++;
                }
            }
            damages[damage] += 1;
        }
        return damages;
    }

    public async Task GenerateBarChart()
    {
        averageDamagePerToughnessNumbers.Clear();
        ChartData chartData = new ChartData { Labels = GetDPTLabels(), Datasets = GetBarchartDataSets() };
        BarChartOptions barChartOptions = new BarChartOptions { Responsive = true, Interaction = new Interaction { Mode = InteractionMode.Index }, MaintainAspectRatio = false };
        if (firstRendering)
        {
            await averageDamagePerToughness.InitializeAsync(chartData, barChartOptions);
        }
        else
        {
            await averageDamagePerToughness.UpdateAsync(chartData, barChartOptions);
        }
    }

    private List<string> GetDPTLabels()
    {
        var labels = new List<string>();
        for (var toughness = minimumToughness; toughness <= maximumToughness; toughness++)
        {
            labels.Add("T"+toughness);
        }

        return labels;
    }

    private List<IChartDataset> GetBarchartDataSets()
    {
        
        var datasets = new List<IChartDataset>();
        
        int datasetCount = 0;
        foreach (KeyValuePair<Fighter, Dictionary<double, Dictionary<double, double>>> ValuePair in dict)
        {
            try
            {
                datasets.Add(GetBarChartDataset(ValuePair.Key, ValuePair.Value, datasetCount));
                datasetCount++;
                }
            catch (Exception e)
            {
                messages.Add(e.Message);
                continue;
            }
        }
        
        return datasets;
    }

    private BarChartDataset GetBarChartDataset(Fighter fighter, Dictionary<double, Dictionary<double, double>> valuePairs, int datasetCount)
    {
        var c = ColorUtility.CategoricalTwelveColors[datasetCount].ToColor();
        List<double?> data = GetBarchartData(valuePairs);
        try
        {
            averageDamagePerToughnessNumbers.Add(fighter.Name, data);
        }
        catch (Exception e)
        {
            messages.Add(e.Message);
            throw;
        }
        return new BarChartDataset()
            {
                Label = fighter.Name,
                Data = data,
                BackgroundColor = new List<string> { c.ToRgbString() },
                BorderColor = new List<string> { c.ToRgbString() },
                BorderWidth = new List<double> { 0 },
            };
    }

    private List<double?> GetBarchartData(Dictionary<double, Dictionary<double, double>> valuePairs)
    {
        var data = new List<double?>();
        foreach (KeyValuePair<double, Dictionary<double, double>> valuePair in valuePairs)
        {
            double rolls = 0;
            double damage = 0;
            foreach (KeyValuePair<double, double> damages in valuePair.Value)
            {
                rolls += damages.Value;
                damage += damages.Key * damages.Value;
            }
            double average = damage / rolls;
            double roundedAverage = Math.Round(average, 2);
            data.Add(roundedAverage);
        }
        return data;
    }
}